# Encrypt any file with "secret" in the name

# Encrypt all files in the folders
home/** filter=git-crypt diff=git-crypt
hosts/** filter=git-crypt diff=git-crypt
modules/** filter=git-crypt diff=git-crypt
